<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <nav class="navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="../img/Uber.png" width="30" height="30" alt="">
    </nav>
    
    <form class="form-inline">
      <button class="btn my-2 my-sm-0" type="submit">Iniciar sesión</button>
    </form>
  </nav>
<div> 
    
  <div id="DivOrange" class="row">
      <div id="title" class="col">
        <p >Tu comida favorita, a la velocidad de Uber</p>
      </div>
   
    <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/d3ee3d72a591a5a3758c7f53821b566b.svg" id="Pic" height="120%" class="col" alt="">
    <img src="https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/488845979fb856e8d42de4507115088f.svg" id="Pic" height="120%" class="col"alt="">
</div>
  

  <!-- <div class="card" >
  <img src="https://picsum.photos/seed/demo/150/100" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ restaurant?.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ restaurant?.id }}</h6>
    <p class="card-text">{{ restaurant?.description }}</p>
  </div>
</div> -->



  