#title{
    position: absolute;
    margin-bottom: 0%;
    margin-top: 17%;
    margin-left:32%;
    margin-right:32%;
    font-size: 200%;
    font-weight: 1000pt;

 }

#DivOrange{
    background-color: #fa9269;
}

#Pic{
    position: relative;
}
